body {
	font-family: Georgia, serif;
	color #222;
	text-align: center;
	margin: 10 0;
	border-top: 10px SOLID #DDD;
}

pre {
	margin: 0px;
	overflow: visible;
	clear: right;
}

ul, ol {
	list-style-position: outside;
	margin-left: 0;
	padding-left: 0;
}

li {
	margin-bottom: 10px;
}

ol.commentlist {
  list-style-type: none;
}

  ol.commentlist div#comment_meta {


    background-color: #dddddd;
  }
  
  ol.commentlist div#comment_meta span.name { font-weight: bold; }
  
  ol.commentlist div#comment_text {


	padding: 0px;
	margin: 0px;
  }
  
  ol.commentlist li.comment {
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
  }

#wrapper {
	width: 800px;
	margin: 20 auto;
	text-align: left;
}

	#header {
		width: 100%;
	}
	
	#content {
		width: 70%;
		float: left;
		
	}
	
		#page-navigation {
			text-align: center;
			background-color: #EEE;
			border: 1px SOLID #DDD;
			padding: 3px;
			color: #666;
		}
		
		#post img, #post-single img {
			position: relative;
			margin: 5 5 5 -10;
		}
		
			#post-separator {
				color: #999;
				text-align: center;
				font-weight: bold;
				margin: 10px;
			}
	
	#sidebar {
		float: right;
		width: 20%;
	}
	
	#footer {
		margin-top: 30px;
		padding: 5px;
		text-align: center;
	}
	
	#footer p { 
		color: #666;
	}


/* Form */
form ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  form ol li {
    margin: 6px; }
form label {
  display: block;
  min-width: 120px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top; }
form input, form textarea {
  padding: 5px;
  font-size: 13px;
  overflow: visible;
  margin-top: 3px;
  margin-left: 5px; }
form legend {
  font-size: 20px;
  background-color: #3c485c;
  color: #FFFFFF;
  padding: 10px;
  width: 30%;
  display: none; }
form select {
  margin-top: 3px;
  margin-left: 5px; }
form fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.form_note {
  color: #666666;
  font-style: italic;
  font-size: 12px;
  padding-left: 5px; }

