- if @post
  %div{:id => 'post', :class => 'post front-page'}
    %h2{:class => 'post-title front-page'}
      %a{:href => r(@post.slug)}
        = @post.title
    %div{:class => 'post-preview'}
      = @post.preview
    
    %div{:id => 'post-separator'}
      = '- # # # -'